@use "base/variables" as var;
@use "base/mixins";

.boletos {
  padding: 5rem 0;

  h3 {
    text-align: center;
    color: var.$blanco;
    margin-bottom: 2rem;
  }

  .contenedor-boletos {
    @include mixins.tablet {
      @include mixins.grid(2, 5rem);
    }
  }
}

.pase {
  .nombre-pase {
    text-align: center;
    font-size: 2.4rem;
    color: var.$blanco;
  }

  &-header,
  &-footer {
    padding: 0.5rem;
    p {
      text-align: center;
      color: var.$blanco;
      margin: 0;
    }
  }

  &-header {
    background-color: var.$rosa;
    p {
      text-transform: uppercase;
      font-size: 1.6rem;
    }
  }
  &-body {
    background-color: var.$blanco;

    ul {
      @include mixins.resetear-lista;
      li,
      :nth-child(odd) {
        background-color: var.$blanco;
        padding: 1rem;
        border-bottom: 1px solid #e1e1e1;
      }
    }
  }
  &-footer {
    background-color: var.$morado;
    p {
      font-size: 2.4rem;
      font-weight: 700;
    }
  }
}
