@use "base/variables" as var;
@use "base/mixins";

.header {
  background-color: var.$verde;
  h1 {
    color: var.$blanco;
  }
}
.navegacion-principal {
  a {
    color: var.$blanco;
    font-size: 2.6rem;
    &:hover {
      color: var.$amarillo;
    }
  }
}
